* {
  background-color: #78b9df;
}

.title {
  text-align: center;
}

.header {
  background-color: #6db1bf;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #db2436
}
