* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.nav {
    background-color: #e7cdda;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10rem;
    padding: 0 2rem;
}

.nav ul {
    padding: 15px;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav a {
    color: inherit;
}

.image-cropper {
    width: 200px;
    height: 200px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

.logo {
    display: inline;
    margin: auto;
    height: 100%;
    width: auto;
}