* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.nav {
    background-color: #ccdde8;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 6em;
    font-size: 25px;
}

.nav ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    gap: 2rem;
}

.nav a {
    color: inherit;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.nav li.active {
    background-color: black;
}

.nav li.hover {
    background-color: gray;
}

.logo-container {
    width: 155px;
    height: 155px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

.logo {
    display: block;
    margin: 0 auto;
    height: 100%;
    width: auto;
}
